.container {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgb(138, 138, 138);
  border-radius: 20px;
}

.heading {
  margin: 20px;
}
.heading2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0px 0 0 18px;
  background-color: rgb(225, 222, 222);
  font-size: 40px;
  margin: 20px;
}
.btn {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    107deg,
    rgba(0, 0, 0, 1) 36%,
    rgba(242, 238, 233, 1) 100%
  );
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  font-size: 30px;
  transition: all 1s ease-in;
  border: none;
}

.btn:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    279deg,
    rgb(70, 69, 69) 36%,
    rgba(255, 251, 247, 0.941) 100%
  );
  color: ghostwhite;
  cursor: pointer;
}
